@media screen and (max-width: 980px) 
  and (max-width: 768px) 
  and (max-width: 640px) {
body {
}
  }

/* .clearfix::after {
    content: "";
    display: block;
    clear: both;
} */
body {
    background-image: url("../images/purty_wood.png"); 
}

header {
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    height: 150px;
    width: 80%;
}

.row1 {
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    height: 100px;
    width: 80%;
}
.row2 {
    font-size: 25px;
    text-align: center;
    margin: 20px auto;
    height: 50px;
    width: 80%;
}
.row3 {
    font-size: 25px;
    text-align: center;
    margin: 20px auto;
    height: 50px;
    width: 80%;
}
.row4 {
    font-size: 25px;
    text-align: center;
    margin: 20px auto;
    height: 50px;
    width: 80%;
}

.row5 {
    font-size: 25px;
    text-align: center;
    margin: 20px auto;
    height: 50px;
    width: 80%;
}
