
body {
    background-image: url("../images/purty_wood.png"); 
}

header {
    font-size: 25px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%;
}

.rightLetter {
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 50px;
    width: 80%;
}

.underscore {
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
    height: 100px;
    width: 80%; 
}

.wrongLetter {
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%;
}

.wins {
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%;
}

.losses {
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%;
}